body{
    font-family: Hanken Grotesk,serif;
    margin: 0;
    background-color:#1E1E1E;
    color: #F9F4DA;
}

.app{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22rem;
    padding-bottom: 20px;
}

header > h1{
    font-size: 25px;
    font-weight: 400;
    margin: 0;
    padding-bottom: 10px;
}

header > p{
    font-size: 17px;
    color: #8E8E8E;
    text-align: center;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}


.language-cont{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    width: 16rem;
    gap: 2px;
}

.language{
    position: relative;
    overflow: hidden;
    height: fit-content;
    min-width: 30px;
    width: fit-content;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.dead{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75); /* semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.dark-text{
    color: #1E1E1E
}

.dashed-input-cont{
    display: flex;
    justify-content: center;
    gap: 8px
}

.dashed-line-input{
    height: 40px;
    width: 40px;
    background-color:#323232;
    border-bottom: #F9F4DA solid 2px;
    padding: 15px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.keyboard{
    width: 32rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px
}

.keyboard-row{
    display: flex;
    gap: 10px
}

.keys{
    height: 40px;
    width: 40px;
    color: #1E1E1E;
    border: #F9F4DA solid 1px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.message-box{
    width: 22rem;
    color: #F9F4DA;
    display: inline-block;
    text-align: center;
    height: fit-content;
    padding: 3px;
}

.message-box > h1{
    font-size: 22px;
    margin: 0;
}

.message-box > p{
    font-size: 18px;
    margin: 0;
}

.new-game-btn{
    background-color:#11B5E5;
    font-size: 18px;
    width: 15rem;
    height: 2.8rem;
}